html{
  background-color: skyblue;
}
h1{
  border: 5px dotted pink;
}
.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.problem_child{
  height: 25%;
  width: 50%;
}

.problem_child2{
  width: 30%;
  height: 50%;
}
  
.card {
  flex-basis:300px;
  max-width:600px;
  flex-grow:1;
  margin:20px 0;
}
.card img {
  width: 80%;
}